@import "../../style/variable";
@import "../../style/minxis";

.ui-tabs {
  font-family: $font-family;
  .ui-tabs-nav {
    text-align: center;
    padding: 0 12px;
    font-weight: 500;
    cursor: pointer;
    line-height: 50px;
    font-size: 16px;
    color: $color-sup;
    @include text-ellipsis;
    &.active {
      color: $color-base;
    }
  }
}