@import "../../style/variable";

.ui-input {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  font-family: $font-family;
  color: $color-base;
  font-size: 16px;
  &.ui-input-border {
    &:after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: $border-color;
      transform: scaleY(0.5);
    }
  }
  .ui-input_label {
    height: 50px;
    width: 80px;
    margin-right: 10px;
    flex: none;
    overflow: hidden;
    display: flex;
    align-items: center;
    line-height: 50px;
    flex-wrap: nowrap;
    user-select: none;
    .ui-input-label-name {
      position: relative;
      &.required {
        &:after {
          position: absolute;
          top: -6px;
          right: -6px;
          content: '*';
          color: $color-error;
        }
      }
    }
  }
  .ui-input_control {
    flex: 1;
    min-height: 50px;
    display: flex;
    align-items: center;
  }
  .ui-input_item {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    line-height: 1.5;
    border: none;
    background: transparent;
    outline: none;
    resize: none;
    color: $color-base;
    font-size: 16px;
    font-weight: 500;
    &.left {
      text-align: left;
    }
    &.right {
      text-align: right;
    }
    &.center {
      text-align: center;
    }
    &:focus ~ .ui-input_clear {
      display: block;
    }
    &.disabled {
      user-select: none;
      color: $color-disabled;
    }
  }
  textarea.ui-input_item {
    font-family: $font-family;
    height: auto;
    padding: 13px 0;
    min-height: 50px;
  }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: $input-placeholder-color;
  }
  .ui-input_right {
    flex: none;
    margin-left: 10px;
  }
  .ui-input_clear {
    flex: none;
    display: none;
    padding: 0 5px;
    color: $input-placeholder-color;
    font-size: 16px;
    margin-left: 5px;
  }
}